h1 Welcome
//- pre {{eventId}}
div
  button(ng-click="showstuff = !showstuff") show stuff
  pre(ng-show="showstuff") {{event|json}}

pre {{highlightedNeed|json}}

.needs-container
  .need(
    ng-repeat="need in event.needs track by $index"
  )
    | We need {{need.attributes.expected}} {{need.attributes.name}}
    pre {{need.attributes}}
    .completion
      md-progress-linear(
        ng-class="{'md-warn': getCompletion(need.attributes.quantity, need.attributes.expected) < 60}"
        md-mode="determinate"
        value="{{ getCompletion(need.attributes.quantity, need.attributes.expected) }}"
      )
    div
      button(ng-click="submitQuantity(need)") add
      button(ng-click="seeDetails(need, $index)") see details
      button(ng-click="removeQuantity(need)") remove
